{% extends "base.html" %}
{% block title %}All Posts - My Blog{% endblock %}
{% block content %}
    <div class="container">
        <h1>All Posts</h1>
        <div class="row">
            {% for post in posts %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ post.title }}</h5>
                            <p class="card-text">{{ post.content|truncatechars:100 }}</p>
                            <a href="{% url 'post_detail' post.pk %}" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
            {% empty %}
                <p>No posts yet.</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
